
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    colspan="4"
    rowHeight="1px">
    <button mat-button >Home</button>
    <button mat-button >About</button>
    <button mat-button >Menu</button>
    <button mat-button >Contact</button>

      <mat-icon svgIcon="bag" aria-hidden="false" aria-label="Example bag SVG icon"></mat-icon>

  </mat-grid-tile>
  <mat-grid-tile  id="grid"
    colspan="4"
    rowspan="10">
    <h1 id="title">Cheese&Wine</h1>
    </mat-grid-tile>
  <mat-grid-tile
    colspan="4"
    rowspan="3"
    [style.background]="'red'">
    Dan
  </mat-grid-tile>
  <mat-grid-tile
    colspan="4"
    rowspan="2"
    [style.background]="'red'">
    Alex
  </mat-grid-tile>
</mat-grid-list>

